{% extends 'base.html.twig' %}

{% block title %}Change Password - {{ parent() }}{% endblock %}

{% block headline %}Change Password{% endblock %}

{% block content_content %}
    <form role="form" action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password form-horizontal">
        {{ form_widget(form) }}
        <div>
            <input type="submit" class="btn btn-primary btn-lg btn-success btn-block" value="{{ 'change_password.submit'|trans }}" />
        </div>
    </form>
{% endblock %}
