{% extends "::plain_base.html.twig" %}

{% block title %}Register - {{ parent() }}{% endblock title %}
{% block headline %}Register{% endblock headline %}

{% block panel_size %}6{% endblock panel_size %}
{% block panel_offset_size %}3{% endblock panel_offset_size %}

{% block content %}
    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register form-horizontal">
        {{ form_widget(form) }}
        <div>
            <input type="submit" class="btn btn-lg btn-block btn-primary" value="{{ 'registration.submit'|trans }}" />
        </div>
    </form>
    <hr>
    <a href="{{ path("fos_user_security_login") }}">Sign In</a> |
    <a href="{{ path("fos_user_resetting_request") }}">Reset Password</a>
{% endblock content %}
