{% extends 'base.html.twig' %}

{% block title %}Edit Profile- {{ parent() }}{% endblock %}

{% block headline %}Edit Profile{% endblock %}

{% block content_content %}
    <form role="form" action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit form-horizontal">
        {{ form_widget(form) }}
        <div>
            <input type="submit" class="btn btn-primary btn-lg btn-success btn-block" value="{{ 'profile.edit.submit'|trans }}" />
        </div>
    </form>
{% endblock %}
